@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bground{
  background-image: url(../public/img/Untitled\ \(48\).png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  background-color: #FFC0CB;
}

.navbar {
  display: flex;
}

.color{
  color: #E2656B;
  margin-top: 206px;
  
}
/* .change{
  position: relative;
}

.macaron{
  height: 670px;
  width: 670px;
  position: absolute;
  margin-left: 400px;
  margin-bottom: 900px;

 
}
 */

