@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bground{
  background-image: url(../public/img/Untitled\ \(53\).png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  background-color: #8A555F;
}

.navbar {
  display: flex;
}

.color{
  color: #E2656B;
  margin-top: 206px;
  
}
/* .change{
  position: relative;
}

.macaron{
  height: 670px;
  width: 670px;
  position: absolute;
  margin-left: 400px;
  margin-bottom: 900px;

 
}
 */

 .RONS{
  margin-left: 33rem;
  margin-top: 60rem;
 }
.lady{
  width: 370px;
  height: 400px;
  float: left;
  position: relative;
  background-size: cover;
}
.se1{
  background-color: antiquewhite;
  height: 100vh;
}